%table.table{:class => "table", :style => "margin-top:2em;"}
  %th
    Room
 
  %th
  %th
  - @rooms_list.each do |r|
    %tr
      %td
        %a{:href => "/room/#{r["Room"]["id"]}"}
          = r["Room"]["name"]
     
      %td
        %a{:class => "btn btn-primary pull-right btn-xs", :type => "button", :role => "button", :style => "margin-right:.5em;", :href => "/archive/#{r["Room"]["id"]}"}
          Zip
          %span.glyphicon.glyphicon-save
          
        %a{:class => "btn btn-primary btn-xs pull-right", :type => "button", :role => "button", :style => "margin-right:.5em;", :href => "/markdown/#{r["Room"]["id"]}"}
          Markdown
          

